/* popup */
#top {
    width: 34px; height: 34px;
    position: fixed; right:50px; bottom:50px;
}
#top img {width:100%;}
/* all layout - 그룹선택자로 한번에 주기 */
header,main .visual,main .service,main .bnr_bg .bnr,
main .board,main .info,main .news,footer {
    width:1152px; margin:0 auto;
}
/* header */
header {}
/* header-h top */
header #h_top {
    background-color: yellow;
    height: 48px;
}
header #h_top .left {
    background-color: lime;
    float:left;
}
header #h_top .left h1 {
    float:left;  padding-top:10px;
    width:110px; height:28px;
}
header #h_top .left h1 a {}
header #h_top .left h1 a img {
    width:100%; /* 부모크기 따라가기 */
}
header #h_top .left nav {
    float:left;
}
header #h_top .left nav ul {}
header #h_top .left nav ul li {
    float:left;
    margin-left:20px;
}
header #h_top .left nav ul li a {
    line-height: 48px;
    letter-spacing: -0.02em;
}
header #h_top .right {
    background-color: pink;
    float:right;
}
header #h_top .right li {
    float:left;
    margin-left:20px;
}
header #h_top .right li:nth-child(1) {margin-left:0;}
header #h_top .right li a {
    line-height: 48px;
    letter-spacing: -0.02em;
}
/* header-h btm */
header #h_btm {
    background-color: gray;
    height: 119px;
}
header #h_btm h1 {
    background-color: yellow;
    float:left;
    width: 150px; height: 28px;
    margin-top: 45px;
}
header #h_btm h1 a {}
header #h_btm h1 a img {
    width: 100%;
}
header #h_btm #search_frm {
    background-color: lime;
    float: left;
    width: 369px; height: 46px;
    border:2px solid #1e6cb3;
    padding:10px 20px 0;
    margin:36px 0 0 230px;
}
header #h_btm #search_frm fieldset {
    border:0;
}
header #h_btm #search_frm fieldset legend {
    display:none;
}
header #h_btm #search_frm fieldset input {
    float: left;
    width:calc(100% - 20px);
}
header #h_btm #search_frm fieldset input::placeholder {
    letter-spacing: -0.02em; color: #1e6cb3;
}
header #h_btm #search_frm fieldset #search_btn {
    float:right;
    border:0; background:none; /* 버튼 선,배경 빼기 */
    width:20px; height: 20px;
    cursor:pointer;
}
header #h_btm #search_frm fieldset #search_btn img {
    width: 100%;
}
header #h_btm .h_b_right {
    background-color: yellow;
    float: right;
    margin-top: 18px;
}

header #h_btm .h_b_right #langfrm {
    text-align:right;
}
header #h_btm .h_b_right #langfrm fieldset {
    border:0;
}
header #h_btm .h_b_right #langfrm fieldset legend {
    display: none;
}
header #h_btm .h_b_right #langfrm fieldset select {
    font-size: 0.833rem;
    letter-spacing: -0.02em;
    width: 93px; padding:5px 0;
    background:none;
    border:1px solid #1e6cb3;
}
header #h_btm .h_b_right #langfrm fieldset select option {
    font-size: 0.833rem;
    letter-spacing: -0.02em;
}
header #h_btm .h_b_right #langfrm fieldset #lang_btn {
    width:43px; height:29px;
    background-color: #1e6cb3;
    border:0;
    color:#fff;
    cursor: pointer;
}
header #h_btm .h_b_right .weather {}
header #h_btm .h_b_right .weather .current_weather {}
header #h_btm .h_b_right .weather .current_weather em {
    font-size: 2.074rem;
    font-weight: 700;
}
header #h_btm .h_b_right .weather .current_dust {
    font-size: 0.833rem;
}
/* main */
main {}
/* main-1 광고배너 */
main .visual {
    background-color: hotpink;
    overflow:hidden; /* 다른게 파고들어오지 않도록 */
}
main .visual .left {
    background-color: aqua;
    position: relative;
    width: 770px; height: 350px;
    float: left;
}
main .visual .left img {
    width: 100%;
}
main .visual .left .close {
    letter-spacing: -0.02em; font-weight: 500;
    padding:10px; border-radius: 5px;
    background-color: #1e6cb3; color: #fff;
    position: absolute;
    right:10px; bottom:10px;
}
main .visual .right {
    background-color: yellow;
    width: 360px; float: right;
}
main .visual .right .covid {
    display: block; /* 블록이어야 크키인식이 되어 글씨이동 가능 */
    position: relative;
    width: 360px; height: 230px;
    margin-bottom:10px;
}
main .visual .right .covid span {
    background-color: aqua;
    position:absolute;
}
main .visual .right .covid .date {top:19px; right:22px;}
main .visual .right .covid .data {}
main .visual .right .covid .data1 {top:86px; left:80px}
main .visual .right .covid .data2 {top:86px; right:87px}
main .visual .right .covid .data3 {bottom:58px; left:58px;}
main .visual .right .covid .data4 {bottom:58px; right:162px;}
main .visual .right .covid .data5 {bottom:58px; right:52px;}
main .visual .right .covid img {width: 100%;}
main .visual .right .traffic {}
main .visual .right .traffic img {}
/* 주요서비스~새소식 제목 디자인 그룹 */
/* 정리 후 */
main section .title {
    background-color: aquamarine;
    border-bottom: 1px solid #aaa;
    padding:50px 0 15px;
    overflow: hidden;
}
main section .title h2 {
    font-size: 1.44rem; font-weight: 500;
    letter-spacing: -0.02em;
    float: left;
}
main section .title .site {
    border:1px solid #aaa;
    float:right;
    padding:5px 10px;
}
main section .title .more {
    float:right;
    font-size:30px;

}
/* 정리 전 */
/* main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .service .title {}
main .board .service .title h2 {}
main .info title {}
main .info title h2 {}
main .news .title {}
main .news .title h2 {}
main .news .title .more {} */

/* main-2 주요서비스 */
main .service {}
main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .service .contents {
    padding:15px;
    overflow: hidden;
}
main .service .contents a {
    background-color: gray;
    float: left;
    width:9.09%;
    text-align: center;
}
main .service .contents a img {}
main .service .contents a span {
    display: block; 
    font-size:0.833rem; letter-spacing: -0.02em;
}
/* main-3 배너 */
main .bnr_bg {
    background-color: #eff4f8;
    padding:30px 0;
}
main .bnr_bg .bnr {overflow: hidden;}
main .bnr_bg .bnr a {
    float: left;
}
main .bnr_bg .bnr a img {}
/* main-4 게시판 */
main .board {overflow: hidden;}
/* main-4 게시판 그룹모음 */
main .board > div {
    width:calc(33.33% - 22px);
    float:left;
/*margin-left: 22px; */
}
main .board > div .title {height: 90px;}
main .board .event {}
main .board .festival {margin:0 22px;}
main .board .service {width:33.33%;}
/* main-4 게시판 카테고리 */
main .board div .contents a .administrative {color:#1e6cb3}
main .board div .contents a .environment {color:#599100;}
main .board div .contents a .welfaret {color:#d76000;}
main .board div .contents a .housing {color:#c35c3c;}
main .board div .contents a .culture {color:#9b64d3;}
main .board div .contents a .economy {color:#069363;}
/* main-4 게시판 이벤트신청, 행사축제 공통 내용 */
main .board .event .contents,main .board .festival .contents {margin-top: 15px;}
main .board .event .contents a,main .board .festival .contents a {
    display: block;
    margin-bottom: 20px; overflow: hidden;
}
main .board .event .contents a:last-child {margin-bottom: 0;}
main .board .festival .contents a:last-child {margin-bottom: 0;}
main .board .event .contents a span,main .board .festival .contents a span {}
main .board .event .contents a span:first-child,main .board .festival .contents a span:first-child {
    margin-right:10px;
    float: left;
}
main .board .event .contents a span:last-child,main .board .festival .contents a span:last-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: pink;
    float: right; width: 89%;
}

/* main-4 게시판 개별내용 */
main .board .event {}
main .board div .title {}
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .event .contents {}
main .board .event .contents a {}
main .board .event .contents a span {}
main .board .event .contents a .administrative {}
main .board .event .contents a .environment {}
main .board .event .contents a .welfare {}
main .board .event .contents a .housing {}
main .board .event .contents a .culture {}
main .board .festival {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .festival .contents {}
main .board .festival .contents a {}
main .board .festival .contents a span {}
main .board .festival .contents a .environment {}
main .board .festival .contents a .economy {}
main .board .festival .contents a .culture {}
main .board .service {}
main .board .service .title {border:0;}
main .board .service .title h2 {}
main .board .service .contents {
    background-color: #eff4f8;
    overflow: hidden;
}
main .board .service .contents a {
    float:left; width:50%;
    text-align: left;
    margin-bottom: 20px;
}
main .board .service .contents a:nth-last-child(2),
main .board .service .contents a:last-child {margin-bottom: 0;}
/* main-5 분야정보 */
main .info {}
main .info title {}
main .info title h2 {}
main .info .contents {
    overflow: hidden;
    padding: 20px;
}
main .info .contents a {
    background-color: lightblue;
    width: 12.5%;
    text-align: center; float:left;
    
}
main .info .contents a img {}
main .info .contents a span {
    display: block; letter-spacing: -0.02em;
}
/* main-6 새소식 */
main .news {}
main .news .title {}
main .news .title h2 {}
main .news .title .more {}
main .news .contents {
    overflow: hidden;
    margin-top: 15px;
}
main .news .contents a {
    background-color: salmon;
    width:25%; height: 300px;
    float: left;
}
main .news .contents a img {}
main .news .contents a span {
    display: block;
    line-height: 26px;
    letter-spacing: -0.05em;
    width:95%;
}
/* footer-f top */
footer {}
footer .fnb {
    border:1px solid #aaa;
    border-left:0; border-right:0;
    overflow: hidden;
}
footer .fnb .left {
    float: left;
}
footer .fnb .left a {
    float: left;
}
/* left-a 가상선택자 (구분선용) */
footer .fnb .left a::after{
    /* 가상선택자의 필수속성 1 */
    content:'';/* 빈문자열 */
    width: 1px; height: 10px;
    background-color: #000;
    display: inline-block;
    margin: 0 10px;
}
footer .fnb .left a:last-child::after {display: none;}
footer .fnb .right {
    float: right;
    background-color: lime;
}
footer .fnb .right a {}
footer .fnb .right a {
    background: no-repeat;
    display:inline-block;
    width:25px; height: 25px;
    text-indent: -9999px;
}
footer .fnb .right a:first-child {
    background-image:url(../images/icon_sns2/icon_set_sns_01.png);
}
footer .fnb .right a:first-child:hover {
    background-image: url(../images/icon_sns2/icon_set_sns_08.png);
}
footer .fnb .right a:nth-child(2) {
    background-image:url(../images/icon_sns2/icon_set_sns_02.png);
}
footer .fnb .right a:nth-child(2):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_09.png);
}
footer .fnb .right a:nth-child(3) {
    background-image:url(../images/icon_sns2/icon_set_sns_03.png);
}
footer .fnb .right a:nth-child(3):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_10.png);
}
footer .fnb .right a:nth-child(4) {
    background-image:url(../images/icon_sns2/icon_set_sns_04.png);
}
footer .fnb .right a:nth-child(4):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_11.png);
}
footer .fnb .right a:nth-child(5) {
    background-image:url(../images/icon_sns2/icon_set_sns_05.png);
}
footer .fnb .right a:nth-child(5):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_12.png);
}
footer .fnb .right a:nth-child(6) {
    background-image:url(../images/icon_sns2/icon_set_sns_06.png);
}
footer .fnb .right a:nth-child(6):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_13.png);
}
/* background:색상 이미지 반복 고정 위치 (순서 지키기) */
/* footer-f btm */
footer .footer_btm {
    background-color: aqua;
    overflow: hidden;
    margin: 30px 0;
}
footer .footer_btm .left {
    display: inline-block;
}
footer .footer_btm .left p {
    float: left;
    width: 119px; height: 45px;
    margin-right:10px;
}
footer .footer_btm .left p img {width: 100%;}
footer .footer_btm .left address {
    float: left;
    line-height: 23px;
    margin-top:-4px;
    font-size: 0.833rem;
}
footer .footer_btm .left address a {}
footer .footer_btm .right {
    float: right;
}
footer .footer_btm .right a {
    height:56px;
}
footer .footer_btm .right a:last-child {margin-left: 10px;}
footer .footer_btm .right a img {
    height: 100%;
}