html, body,
h1,h2,h3,h4,h5,h6,p,blockquote,address,/* block */
span,strong,em,q,sub,sup,del,s,a,img,/* inline */
div,header,nav,aside,main,footer,article,figure,figcaption,section,video,/* 묶어주는 태그 */
table,thead,tbody,tfoot,tr,th,td,/* table */
ul,ol,li,dl,dt,dd/* 목록태그 */
form,fieldset,legend,input,select,option,button,label,textarea{
    margin:0; padding:0; line-height:0;
    font-size:16px; font-style:normal; font-weight:normal;
    text-align:left; text-decoration:none;
}
table,tr,th,td {border-collapse:cpllapse;}
ul,ol,li {list-style:none;}
a {color:#000;}
input {outline:none; border:0;}