main {
    background-color:rgba(0,0,0,0.8);
    padding:50px
}
main .box {
    width:200px; height:200px;
    font-size:4rem;
    border:5px dotted #fff;
    border-radius:50%;
    text-align:center; /* 수평으로 중심 */
    line-height:200px /* 수직으로 중심 */
    /* line-height값과 height값을 동일하게 작성하면 요소가 수직 중앙으로 온다. (1행일 경우 가능) */
    /* 2행 이상일 경우 padding-top으로 내린다. */
}
main .a {
    float:left;
    /* padding(안쪽여백)추가 시 실제 크기에 변화를 주지 않는다. */
    box-sizing:border-box;
    /* padding-right:50px; */
    /* width:150px; */
    background-color:skyblue;
}
main .b {
    clear:both;
    float:left;
    /* padding-top:30px; */
    box-sizing:border-box;
    /* height:170px; */
    font-size: 3rem;
    background-color:lime;
}
main .c {
    float:left;
    /* clear:both; /* 아래로 내리기 */
    /* float:none; */
    /* padding:10px 20px; */
    box-sizing:border-box;
    /* width:160px;
    height:180px; */
    background-color:pink;
}