html,body, /*구조태그*/
h1,h2,h3,h4,h5,h6,p,blockquote,address, /*block*/
span,strong,em,q,sub,sup,del,s,a,img, /*inline*/
div,header,nav,aside,main,footer,article,figure,figcaption,section, 
table,thead,tbody,tfoot,tr,th,td,ul,ol,li,dl,dt,dd, /*묶어주는 태그*/
form,fieldset,legend,input,select,option,button,label,textarea {
    margin:0; padding:0; line-height:1.0;
    font-size:16px; font-style:normal; font-weight:normal;
    text-align:left; text-decoration:none;
}

table,tr,th,td {border-collase:collase;}
ul,ol,li {list-style:none;} /*목록 태그*/
a {color:#000;} 
input {outline:none; border:0;}