.box1 p, .box2 p {width:200px; height:200px; border:3px solid blue; margin:0 auto;}
.box1 p img {width:100%;}
.box1 {background-color:aqua;}
.box2 {background-color:yellow;}

/* image 폴더 안 img1~img5 경로 순서대로 연결하기 */
.box2 .first {background-image:url()}
.box2 .second {background-image:url()}
.box2 .third {background-image:url()}
.box2 .fourth {background-image:url()}
.box2 .last {background-image:url()}